<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @title || settings.site_title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

<%= yield %>

<%=erb :_google_analytics%>
</body>
</html>